---
import { Icon } from 'astro-icon/components';

interface Props {
    project: {
        name: string;
        isFeatured: boolean;
        description: string;
        highlights: [string];
        github: string;
        live: string;
    };
}
const { project } = Astro.props;
const name = project.name.toLowerCase().replaceAll(' ', '_');
---

<div class='my-2 flex flex-col portrait:flex-col lg:flex-row items-center space-y-8 lg:space-x-12 portrait:space-x-0'>
    <div
        class='flex flex-col md:flex-row items-center h-full relative before:absolute before:bottom-[-5%] b before:bg-teal dark:before:bg-teal before:right-[-5%] before:w-full before:h-full before:content-[""] md:hover:before:bottom-[-8%] md:hover:before:right-[-8%] md:hover:before:grayscale before:ease-linear before:duration-500 group'
    >
        <!-- TODO: Make this dynamic with the resume repo -->
        <img
            src='src/assets/site-preview.png'
            alt='Site card'
            class='rounded-sm w-full group-hover:scale-105 ease-linear duration-500 portrait:max-w-screen-sm md:max-w-screen-md grayscale group-hover:grayscale-0'
            data-testid=`${name}-featured-image`
        />
    </div>
    <div class='flex flex-col text-da-gray dark:text-lg-gray space-y-4 h-full w-full'>
        <p
            class='flex items-center font-semibold text-black dark:text-white text-lg md:text-2xl after:content-["Featured"] after:text-teal after:font-bold after:bg-teal/25 after:border-2 after:border-teal after:rounded-full after:px-2 after:mx-2 after:text-xs after:animate-fade-up after:animate-delay-750'
            data-testid=`${name}-featured-name`
        >
            {project.name}
        </p>
        <p class='font-medium text-da-gray dark:text-lg-gray md:text-lg text-justify' data-testid=`${name}-featured-description`>
            {project.description}
        </p>
        <div class='flex flex-wrap text-lg-gray dark:text-da-gray justify-start'>
            {
                project.highlights.map((skill) => (
                    <p class='hover:text-teal font-medium mr-2 md:mr-4 ease-linear duration-300 cursor-default hover:scale-105' data-testid=`${name}-featured-${skill}`>
                        {skill}
                    </p>
                ))
            }
        </div>
        <div class='flex flex-row items-center space-x-6'>
            {
                project.github ? (
                    <a
                        class='font-semibold flex items-start hover:underline underline-offset-2'
                        target='_blank'
                        data-testid=`${name}-featured-github`
                        href={project.github}
                    >
                        <Icon
                            name='mdi:github'
                            class="size-6 text-black dark:text-white"
                        />
                    </a>
                ) : (
                    ''
                )
            }
            {
                project.live ? (
                    <a
                        class='text-teal flex items-center font-semibold hover:underline underline-offset-2'
                        target='_blank'
                        href={project.live}
                    >
                        <Icon name="mdi:link-variant" class="size-6 mr-1" data-testid=`${name}-featured-live`/>
                    </a>
                ) : (
                    ''
                )
            }
        </div>
    </div>
</div>
